# =============================================================================
# Файлы секретов и локальных конфигураций
# ВАЖНО: Никогда не добавляйте файлы с паролями и ключами в Git!
# =============================================================================
.env
.env.*
!/.env.example
!env/
!env/*

# =============================================================================
# Python & Poetry
# Игнорируем кэш, виртуальные окружения и артефакты сборки
# =============================================================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Виртуальные окружения
.venv/
venv/
env/
ENV/
.env/
.venv
*/.venv

# Кэш Poetry
.poetry-cache/

# =============================================================================
# Alembic
# Временные файлы Alembic
# =============================================================================
*.db # Если используется sqlite для тестов

# =============================================================================
# Инструменты тестирования (pytest, coverage)
# =============================================================================
.pytest_cache/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml

# =============================================================================
# Docker
# Не добавляем данные, которые хранятся в volumes
# =============================================================================
postgres_dev_data/
budibase_dev_data/

# =============================================================================
# Файлы IDE и редакторов кода
# =============================================================================
# JetBrains (PyCharm, WebStorm, etc.)
.idea/

# VS Code
.vscode/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Atom
.atom/

# =============================================================================
# Системные файлы macOS и Windows
# =============================================================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
